@media (max-width: 768px) {
  .nav-links {
    background: var(--white-pure);
    border-top: 2px solid var(--primary-red);
  }

  .burger-line, .burger-line::before, .burger-line::after {
    background: var(--primary-red);
  }
}